# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env*
!.env.example

# Local Data / Cache
data/
profiles/
.cache/
__MARIANA_CACHE__/

# IDE/Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Temp push logs
push_*.log
push_*.txt
